{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->



	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<link rel="stylesheet" href="{% static 'css/myStyle.css' %}" type="text/css">


	<style>
		.film-title{
		color: #fff;
		opacity: 98%;
		}
		.film-title:hover{
		color: #fff;
		opacity: 40%;
		}
	</style>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Kin Films</title>



</head>
<body class="body">
	
	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="/" >
								<img src="{% static 'img/logo.png'%}" alt="Logo" height="70px" width="250px" class="logoImg">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<li class="header__nav-item">
									<a class="header__nav-link" href="/">Home</a>
								</li>
								<li class="header__nav-item">
									<a href="/catalog/" class="header__nav-link">Catalog</a>
								</li>
								<li class="header__nav-item">
									<a href="/help/" class="header__nav-link">Help</a>
								</li>
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">

								<!-- header search -->
								<form action="" method="POST" class="find_film_form">
									{% csrf_token %}
									<div class="search-group">
										<input type="text" class="">
										<span class="bar"></span>
										<button class="header__search-btn" type="button">
											<i class="icon ion-ios-search"></i>
										</button>
									</div>
									
								</form>
								<!-- end head search  -->


								<a href="signin.html" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>sign in</span>
								</a>
							</div>
							<!-- end header auth -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->

	{% block content %}

	<!-- home -->
	<section class="home">

		<div class="container" id="tab-1">
			<div class="row">
				<div class="col-12">
					<h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- end home -->

	<!-- content -->
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NEW RELEASES</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">TOP RATING</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">MOST VIEWED</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">MOST COMMENT</a>
						</li>
					</ul>
					<!-- end content tabs nav -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- content tabs -->
		<section class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="1-tab">
				<div class="row">

					<!--first row of films -->
					{% for film in films_new_release %}
					<!-- cards -->
					<div class="col-12 col-sm-12 col-lg-6 ">
						<div class="card card--list">
							<div class="row">
								<div class="col-12 col-sm-4">
									<div class="card__cover">
										<img src="{{ film.image.url }}" alt="">
										<a href="{{ film.get_film_url }}" class="card__play">
											<i class="icon ion-ios-play"></i>
										</a>
									</div>
								</div>
								<!--  -->
								<div class="col-12 col-sm-5">
									<div class="card__content">
										<h3><a href="{{ film.get_film_url }}" class="film-title">{{ film.title }}</a></h3>
										<span class="">
											{% for country in film.countries.all %}
											<a href="{{ country.get_country_url }}"><ins>{{ country.name.capitalize }}</ins></a>
											{% endfor %}
										</span>
										<span class="card__category">
											{% for category in film.categories.all %}
												<a href="{{ category.get_category_url }}">{{ category }}</a>
											{% endfor %}
										</span>

										<div class="card__wrap">
											<span class="card__rate"><i class="icon ion-ios-star"></i>{{ film.rating }}</span>

											<ul class="card__list">
												{% if film.full_hd %}
												<li>HD</li>
												{% endif %}
												<li>{{ film.constraints }}+</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end cards -->
					{% endfor %}

				</div>
			</div>
		</section>
	</div>


	<section class="home">
		<div class="container">
			<div class="row" id="tab-2">
				<div class="col-12">
					<h1 class="home__title"><b>TOP RATING</b> OF THIS SEASON</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<!-- content tabs -->
		<section class="tab-content">
			<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="1-tab">
				<div class="row">

					<!--first row of films -->
					{% for film in films_top_rating %}
					<!-- cards -->
					<div class="col-12 col-sm-12 col-lg-6 ">
						<div class="card card--list">
							<div class="row">
								<div class="col-12 col-sm-4">
									<div class="card__cover">
										<img src="{{ film.image.url }}" alt="">
										<a href="{{ film.get_film_url }}" class="card__play">
											<i class="icon ion-ios-play"></i>
										</a>
									</div>
								</div>
								<div class="col-12 col-sm-5">
									<div class="card__content">
										<h3><a href="{{ film.get_film_url }}" class="film-title">{{ film.title }}</a></h3>
										<span class="">
											{% for country in film.countries.all %}
											<a href="{{ country.get_country_url }}"><ins>{{ country.name.capitalize }}</ins></a>
											{% endfor %}
										</span>
										<span class="card__category">
												{% for category in film.categories.all %}
													<a href="/">{{ category }}</a>
												{% endfor %}
											</span>

										<div class="card__wrap">
											<span class="card__rate"><i class="icon ion-ios-star"></i>{{ film.rating }}</span>

											<ul class="card__list">
												{% if film.full_hd %}
												<li>HD</li>
												{% endif %}
												<li>{{ film.constraints }}</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end cards -->
					{% endfor %}

				</div>
			</div>
		</section>
	</div>

	{% endblock content%}



	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">Contact</h6>
					<ul class="footer__list">
						<li><a href="/">+38(050) 84-33-996</a></li>
						<li><a href="/">ilyamakarov223@gmail.com</a></li>
					</ul>
				</div>
				<!-- end footer list -->
			</div>
		</div>
	</footer>
	<!-- end footer -->

</body>

</html>