{% extends 'base.html' %}
{% load static %}

{% block content %}

	<section class="section details">
		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title">{{ film.title }}</h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-xl-12">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-xl-3">
								<div class="card__cover">
									<img src="{{ film.image.url }}" alt="">
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-xl-9">
								<div class="card__content">
									<div class="card__wrap">
										<span class="card__rate"><i class="icon ion-ios-star"></i>{{ film.rating }}</span>

										<ul class="card__list">
                                            {% if film.full_hd %}
											<li>HD</li>
                                            {% endif %}
											<li>{{ film.constraints }}</li>
										</ul>
									</div>

									<ul class="card__meta">
										<li>
											<span>Genre:</span>
											{% for genre in film.categories.all %}
											<a href="/">{{ genre }}</a>
											{% endfor%}
										</li>
										<li><span>Release year:</span> {{ film.year }}</li>
										<li><span>Running time:</span> {{ film.lasting }}</li>
										<li><span>Country:</span>
											{% for country in film.countries.all %}
											<a href="{{ country.get_country_url }}">{{ country }}</a>
											{% endfor %}
										</li>
									</ul>
									<br>
									<div style="color: rgb(226, 208, 208);">
										Description: <br> {{ film.description }}
									</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->
            </div>
        </div>
	</section>
	
	<!-- player -->
	<div class="col-12 col-xl-12 video-player" style="align-content: center;">
		<video controls crossorigin playsinline id="player" style="margin-left: 200px;">
			<!-- Video files -->
			<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" size="576">
			<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4" size="720">
			<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4" size="1080">
			<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1440p.mp4" type="video/mp4" size="1440">

			<!-- Caption files -->
			<track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
				default>
			<track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">

			<!-- Fallback for browsers that don't support the <video> element -->
			<a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
		</video>
	</div>
	<!-- end player -->


{% endblock content %}