body{
    background: #2b2b31;
}

input[type='submit']{
    padding: 20px;   
    font-size: 15px;
    border: None;
    border-radius: 15px;
    margin: auto;
    margin-top: 60px;
    background-color: blanchedalmond;

    margin-left: 157px;
}

input[type='submit']:hover{
    padding: 20px;   
    font-size: 15px;
    border: None;
    border-radius: 15px;
    margin: auto;
    margin-top: 60px;
    background-color: rgb(228, 189, 131);

    margin-left: 157px;
}


.film-creation-form-input{
    background-color: rgb(95, 95, 93);
    color: azure;
    width: 350px;
    height: 32px;
    border: none;
    margin-left: 25px;
}

.film-creation-form-block{
    width: 400px;
    height: 400px;
    background: #2b2b31;
    
    margin: auto;
    border: 10px dashed black;
    margin-top: 100px;
    position: relative;
}

.film-creation-form-content{
    margin-top: 100px;
}

.title{
    text-align: center;
    color: azure;
    margin-top: 40px;
}