input[type="text"] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 3px; 
  background: #2b2b31;
  outline: none; 
  height: 40px; 
  width: 280px; 
  color: #c3c3c3; 
  font-size: 20px;
  margin-right: 10px;  
  margin-bottom: 20px;
  padding-bottom: 0;
}

.search-group{
  margin-right: 30px;
  margin-top: 30px;
}
input[type="text"]:focus {
  color: #c3c3c3;
  border: 0, 0, 0, 0;
}

.film-title{
  color: red;
  font-weight: bold;
}


/* filter  */

.filter-container{
  height: 100px;
  margin-top: 15px;
  clear:both; text-align:right;
  
}

.apply-button{
  color: azure;
  float: right;
  position: relative;
  bottom: 70px;
  border: beige 1px solid;
  padding: 15px;
}

.apply-button:hover{
  color: black;
  background-color: beige;
  float: right;
  position: relative;
  bottom: 70px;
  border: beige 1px solid;
  padding: 15px;
}


label.label-for-filter{
  color: aquamarine;
  margin-top: 10px;
  font-size: 20px;
  display: inline;
}

.select-filter{
  width: 100px;
  background-color: rgb(51, 50, 50);
  border: none;
  color: azure;
  height: 30px;
  border-radius: 4px;
}


.filter-block{
  margin-top: 10px;
}